/* Projects */
.card-container {
    flex-wrap: wrap;
    margin-left: 200px;
    
}
.card {
    align-self: center;
    width: 15rem;
    height: 18rem;
    margin: 20px;
    padding: 0px;
    box-shadow: 8px 8px 8px black;
}

.card-body, .card-title{
    font-size: 14px;
    text-align:center;
    color: black;
    
}

.card-text {
    font-size: 12px;
    
}

.card-img-top{
    width: 100%;
}

.btn {
    font-size: 10px;
    color: black;
}
/* About */
.skills{
    font-size: 16px;
    text-align: center;
    justify-content: center;
    margin:10px;
    padding: 10px;   
}
.row-space {
    margin-top: 200px;
    margin-bottom: 200px;
}

.skill-container {
    width: 100%;
    justify-content: center;
}

.portrait{
height: 200px;
width: 200px;
border-radius: 30%;
float:left;
margin-right:14px;
padding: 4px;
box-shadow: 8px 8px 8px black;
}


.icon{
    height: 75px;
    width: 75px;
    margin: 5px;
}

.aboutMe{
    
    font-weight: 500;
    font-size: 16px;
    text-align: left;
    margin-left:2px;
    padding: 2px;
}

/* Contact */

.contacts{

        font-size: 16px;
        text-align: center;
        justify-content: center;
        margin:10px;
        padding: 10px;   

}

.contact-container{
    width: 100%;
    justify-content: center;
    margin: 10px;
    padding: 10px;
    color: black;
    font-weight: 500;
    text-align: left;
    font-size: 16px;
}

.contact-title{
    font-family:'Piedra', cursive;
    text-align: center;
    
}

/* Global */

.footer, footer{
    text-align: center;
    background-color: #b2beb5;
    font-family:'Piedra', cursive;
    font-size: 10px;
}

nav, .navbar{
    margin-bottom: 0;
    font-family: "Piedra", cursive;
    background-color:#b2beb5;
    justify-content: left;
}

.nav-item{
    float:left;
    text-align: left;
    color: black;
    text-shadow: 10px 8px 4px grey;
    background-color:#b2beb5;
}
.wrapper,
* {
    background-color:#b2beb5;
}

@media screen and (max-width: 989px) {
.card-container{
    flex-wrap: wrap;
    margin-left:0px;
}

.skills
{
    flex-wrap: wrap;
    text-align: left;
    justify-content: start;
}

.skill-container {
    justify-content: flex-start;
    flex-wrap: wrap;
}

.text-wrap, .portrait{
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 20px;
}

}